{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "sort-imports": ["warn", {
      "ignoreCase": true
    }],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "arrow-body-style": ["error", "as-needed"],
    "indent": ["error", 2, {
      "VariableDeclarator": "first",
      "outerIIFEBody": 0,
      "MemberExpression": 1,
      "FunctionDeclaration": {"parameters": "first"},
      "FunctionExpression": {"parameters": "first"},
      "CallExpression": {"arguments": "first"},
      "ArrayExpression": 1,
      "ObjectExpression": 1,
      "ImportDeclaration": 1,
      "flatTernaryExpressions": false
    }]
  }
}